@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Weedkend.cshtml";
}
<div id="content" class="content-area page-wrapper" role="main">
    <div class="row row-main">
        <div class="large-12 col">
            <div class="col-inner">



                <p>Vietwax.com – Cửa hàng sáp vuốt tóc nam Classic Store được thành lập từ năm 2015. Classic Store là một trong các shop tiên phong đi đầu trong lĩnh vực chăm sóc mái tóc cho quý ông. Chúng tôi đã có hơn 2 năm kinh nghiệm, tư vấn cho hàng ngàn bạn trẻ khắp cả nước. Đã nghiên cứu và mang về những dòng sản phẩm sáp vuốt tóc chính hãng phù hợp với chất tóc của người Việt và với phương châm “VÌ ĐAN ÔNG VIỆT CŨNG PHẢI ĐẸP”.</p>
                <p>Các bạn có thể liên hệ với chúng tôi :</p>
                <p>Địa chỉ: 193/13 Nguyễn Đình Chính Phường 11 Quận Phú Nhuận HCM</p>
                <p>Website: <a href="http://vietwax.com">http://vietwax.com</a></p>
                <p>FB: <a href="https://www.facebook.com/classicstore.vn">https://www.facebook.com/classicstore.vn</a></p>


            </div><!-- .col-inner -->
        </div><!-- .large-12 -->
    </div><!-- .row -->
</div>
