@page "/error"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Weedkend.cshtml";
}
<div class="row category-page-row">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>This error is sent to Admin</h3>
    <a href="/">Click here to turn back</a>
</div>