@page "/notAccess"
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAccessPage</title>
</head>
<body>
    <h2>You can not Access this Page</h2>
    <a href="/login">Click here to Back to Login</a>
</body>
</html>
