@page 
@model Weedkend.Product_DemoModel
@{
    Layout = null;
}

<h3>Product List</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr align="center">
            <td>@product.ProductId.ToString()</td>
            <td>@product.ProName</td>
            
            <td>$@product.Price</td>
            <td>
                <a asp-page="cart" asp-page-handler="buynow" asp-route-id="1">Buy Now</a>
            </td>
        </tr>
    }
</table>

