@page
@model Weedkend.Pages.WeedkendPage.Checkout_2Model
@{
    ViewData["Title"] = "Checkout_2";
    Layout = "~/Pages/Shared/_Weedkend.cshtml";
}

    <main id="main" class="">
        <div id="content" class="content-area page-wrapper" role="main">
            <div class="row row-main">
                <div class="large-12 col">
                    <div class="col-inner">




                        <div class="woocommerce">
                            <div class="woocommerce-notices-wrapper"></div><div class="woocommerce-form-login-toggle">

                                <div class="woocommerce-info message-wrapper">
                                    <div class="message-container container medium-text-center">
                                        Bạn đã có tài khoản? <a href="#" class="showlogin">Ấn vào đây để đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                            <form class="woocommerce-form woocommerce-form-login login" method="post" style="display:none;">


                                <p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing section.</p>

                                <p class="form-row form-row-first">
                                    <label for="username">Tên đăng nhập hoặc email&nbsp;<span class="required">*</span></label>
                                    <input type="text" class="input-text" name="username" id="username" autocomplete="username">
                                </p>
                                <p class="form-row form-row-last">
                                    <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                                    <input class="input-text" type="password" name="password" id="password" autocomplete="current-password">
                                </p>
                                <div class="clear"></div>


                                <p class="form-row">
                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Ghi nhớ mật khẩu</span>
                                    </label>
                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="6232fc208f"><input type="hidden" name="_wp_http_referer" value="/checkout-2/">		<input type="hidden" name="redirect" value="https://classic.vn/checkout-2/">
                                    <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
                                </p>
                                <p class="lost_password">
                                    <a href="https://classic.vn/my-account-2/lost-password/">Quên mật khẩu?</a>
                                </p>

                                <div class="clear"></div>


                            </form>
                            <div class="woocommerce-form-coupon-toggle">

                                <div class="woocommerce-info message-wrapper">
                                    <div class="message-container container medium-text-center">
                                        Bạn có mã ưu đãi? <a href="#" class="showcoupon">Ấn vào đây để nhập mã</a>
                                    </div>
                                </div>
                            </div>

                            <form class="checkout_coupon woocommerce-form-coupon has-border is-dashed" method="post" style="display:none">

                                <p>Nếu bạn có mã giảm giá, vui lòng điền vào phía bên dưới.</p>
                                <div class="coupon">
                                    <div class="flex-row medium-flex-wrap">
                                        <div class="flex-col flex-grow">
                                            <input type="text" name="coupon_code" class="input-text" placeholder="Mã ưu đãi" id="coupon_code" value="">
                                        </div>
                                        <div class="flex-col">
                                            <button type="submit" class="button expand" name="apply_coupon" value="Áp dụng">Áp dụng</button>
                                        </div>
                                    </div><!-- row -->
                                </div><!-- coupon -->
                            </form>
                            <div class="woocommerce-notices-wrapper">
                                <div class="woocommerce-message message-wrapper" role="alert">
                                    <div class="message-container container success-color medium-text-center">
                                        <i class="icon-checkmark"></i>			Customer matched zone "Hồ Chí Minh"
                                    </div>
                                </div>
                            </div>
                            <form name="checkout" method="post" class="checkout woocommerce-checkout " action="https://classic.vn/checkout-2/" enctype="multipart/form-data" novalidate="novalidate">

                                <div class="row pt-0 ">
                                    <div class="large-7 col  ">


                                        <div id="customer_details">
                                            <div class="clear">
                                                <div class="woocommerce-billing-fields">

                                                    <h3>Thông tin thanh toán</h3>


                                                    <div class="get_address_byphone_wrap">
                                                        <button class="get_address_byphone" type="button" data-mfp-src="#get_address_content">+ Lấy địa chỉ mua hàng trước</button>
                                                        <div id="get_address_content" class="mfp-hide">
                                                            <div class="get_address_content_input">
                                                                <input name="sdt_get_address" id="sdt_get_address" placeholder="Nhập số điện thoại mua lần trước">
                                                            </div>
                                                            <div class="get_address_content_mess"></div>
                                                            <div class="get_address_content_button">
                                                                <a href="#" class="btn_get_address">Tiếp tục</a>
                                                                <a href="#" class="btn_cancel">Hủy</a>
                                                            </div>
                                                            <div class="get_address_content_footer"></div>
                                                        </div>
                                                    </div>

                                                    <div class="woocommerce-billing-fields__field-wrapper">
                                                        <p class="form-row form-row-wide validate-required" id="billing_last_name_field" data-priority="10"><label for="billing_last_name" class="">Họ và tên&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="billing_last_name" id="billing_last_name" placeholder="Họ tên của bạn" value=""></span></p><p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="20"><label for="billing_phone" class="">Số điện thoại&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="tel" class="input-text " name="billing_phone" id="billing_phone" placeholder="Số điện thoại của bạn" value="" autocomplete="tel"></span></p><p class="form-row form-row-last validate-required validate-email" id="billing_email_field" data-priority="21"><label for="billing_email" class="">Địa chỉ email&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="email" class="input-text " name="billing_email" id="billing_email" placeholder="Email của bạn" value="" autocomplete="email username"></span></p><p class="form-row form-row-first address-field update_totals_on_change validate-required" id="billing_state_field" data-priority="30">
                                                            <label for="billing_state" class="">Tỉnh/Thành phố&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper">
                                                                <select name="billing_state" id="billing_state" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn tỉnh/thành phố" tabindex="-1" aria-hidden="true">
                                                                    <option value="">Chọn tỉnh/thành phố</option>
                                                                    <option value="HANOI">Hà Nội</option>
                                                                    <option value="HOCHIMINH" selected="selected">Hồ Chí Minh</option>
                                                                    <option value="ANGIANG">An Giang</option>
                                                                    <option value="BACGIANG">Bắc Giang</option>
                                                                    <option value="BACKAN">Bắc Kạn</option>
                                                                    <option value="BACLIEU">Bạc Liêu</option>
                                                                    <option value="BACNINH">Bắc Ninh</option>
                                                                    <option value="BARIAVUNGTAU">Bà Rịa - Vũng Tàu</option>
                                                                    <option value="BENTRE">Bến Tre</option>
                                                                    <option value="BINHDINH">Bình Định</option>
                                                                    <option value="BINHDUONG">Bình Dương</option>
                                                                    <option value="BINHPHUOC">Bình Phước</option>
                                                                    <option value="BINHTHUAN">Bình Thuận</option>
                                                                    <option value="CAMAU">Cà Mau</option>
                                                                    <option value="CANTHO">Cần Thơ</option>
                                                                    <option value="CAOBANG">Cao Bằng</option>
                                                                    <option value="DAKLAK">Đắk Lắk</option>
                                                                    <option value="DAKNONG">Đắk Nông</option>
                                                                    <option value="DANANG">Đà Nẵng</option>
                                                                    <option value="DIENBIEN">Điện Biên</option>
                                                                    <option value="DONGNAI">Đồng Nai</option>
                                                                    <option value="DONGTHAP">Đồng Tháp</option>
                                                                    <option value="GIALAI">Gia Lai</option>
                                                                    <option value="HAGIANG">Hà Giang</option>
                                                                    <option value="HAIDUONG">Hải Dương</option>
                                                                    <option value="HAIPHONG">Hải Phòng</option>
                                                                    <option value="HANAM">Hà Nam</option>
                                                                    <option value="HATINH">Hà Tĩnh</option>
                                                                    <option value="HAUGIANG">Hậu Giang</option>
                                                                    <option value="HOABINH">Hòa Bình</option>
                                                                    <option value="HUNGYEN">Hưng Yên</option>
                                                                    <option value="KHANHHOA">Khánh Hòa</option>
                                                                    <option value="KIENGIANG">Kiên Giang</option>
                                                                    <option value="KONTUM">Kon Tum</option>
                                                                    <option value="LAICHAU">Lai Châu</option>
                                                                    <option value="LAMDONG">Lâm Đồng</option>
                                                                    <option value="LANGSON">Lạng Sơn</option>
                                                                    <option value="LAOCAI">Lào Cai</option>
                                                                    <option value="LONGAN">Long An</option>
                                                                    <option value="NAMDINH">Nam Định</option>
                                                                    <option value="NGHEAN">Nghệ An</option>
                                                                    <option value="NINHBINH">Ninh Bình</option>
                                                                    <option value="NINHTHUAN">Ninh Thuận</option>
                                                                    <option value="PHUTHO">Phú Thọ</option>
                                                                    <option value="PHUYEN">Phú Yên</option>
                                                                    <option value="QUANGBINH">Quảng Bình</option>
                                                                    <option value="QUANGNAM">Quảng Nam</option>
                                                                    <option value="QUANGNGAI">Quảng Ngãi</option>
                                                                    <option value="QUANGNINH">Quảng Ninh</option>
                                                                    <option value="QUANGTRI">Quảng Trị</option>
                                                                    <option value="SOCTRANG">Sóc Trăng</option>
                                                                    <option value="SONLA">Sơn La</option>
                                                                    <option value="TAYNINH">Tây Ninh</option>
                                                                    <option value="THAIBINH">Thái Bình</option>
                                                                    <option value="THAINGUYEN">Thái Nguyên</option>
                                                                    <option value="THANHHOA">Thanh Hóa</option>
                                                                    <option value="THUATHIENHUE">Thừa Thiên Huế</option>
                                                                    <option value="TIENGIANG">Tiền Giang</option>
                                                                    <option value="TRAVINH">Trà Vinh</option>
                                                                    <option value="TUYENQUANG">Tuyên Quang</option>
                                                                    <option value="VINHLONG">Vĩnh Long</option>
                                                                    <option value="VINHPHUC">Vĩnh Phúc</option>
                                                                    <option value="YENBAI">Yên Bái</option>
                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 288px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-billing_state-container"><span class="select2-selection__rendered" id="select2-billing_state-container" title="Hồ Chí Minh">Hồ Chí Minh</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                            </span>
                                                        </p><p class="form-row form-row-last address-field update_totals_on_change validate-required validate-required" id="billing_city_field" data-priority="40">
                                                            <label for="billing_city" class="">Quận/Huyện <abbr class="required" title="bắt buộc">*</abbr></label><select name="billing_city" id="billing_city" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn quận huyện" tabindex="-1" aria-hidden="true">
                                                                <option value="" selected="selected">Chọn quận huyện</option>
                                                                <option value="785">Huyện Bình Chánh</option>
                                                                <option value="787">Huyện Cần Giờ</option>
                                                                <option value="783">Huyện Củ Chi</option>
                                                                <option value="784">Huyện Hóc Môn</option>
                                                                <option value="786">Huyện Nhà Bè</option>
                                                                <option value="760">Quận 1</option>
                                                                <option value="769">Quận 2</option>
                                                                <option value="770">Quận 3</option>
                                                                <option value="773">Quận 4</option>
                                                                <option value="774">Quận 5</option>
                                                                <option value="775">Quận 6</option>
                                                                <option value="778">Quận 7</option>
                                                                <option value="776">Quận 8</option>
                                                                <option value="763">Quận 9</option>
                                                                <option value="771">Quận 10</option>
                                                                <option value="772">Quận 11</option>
                                                                <option value="761">Quận 12</option>
                                                                <option value="765">Quận Bình Thạnh</option>
                                                                <option value="777">Quận Bình Tân</option>
                                                                <option value="764">Quận Gò Vấp</option>
                                                                <option value="768">Quận Phú Nhuận</option>
                                                                <option value="762">Quận Thủ Đức</option>
                                                                <option value="766">Quận Tân Bình</option>
                                                                <option value="767">Quận Tân Phú</option>
                                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 288px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-billing_city-container"><span class="select2-selection__rendered" id="select2-billing_city-container"><span class="select2-selection__placeholder">Chọn quận huyện</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        </p><p class="form-row form-row-first address-field update_totals_on_change validate-required validate-required" id="billing_address_2_field" data-priority="50">
                                                            <label for="billing_address_2" class="">Xã/Phường <abbr class="required" title="bắt buộc">*</abbr></label><select name="billing_address_2" id="billing_address_2" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn xã/phường" tabindex="-1" aria-hidden="true">
                                                                <option value="" selected="selected">Chọn xã/phường</option>
                                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 288px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-billing_address_2-container"><span class="select2-selection__rendered" id="select2-billing_address_2-container"><span class="select2-selection__placeholder">Chọn xã/phường</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        </p><p class="form-row form-row-last validate-required" id="billing_address_1_field" data-priority="60"><label for="billing_address_1" class="">Địa chỉ&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="billing_address_1" id="billing_address_1" placeholder="Ví dụ: Số 20, ngõ 90" value="" autocomplete="address-line1"></span></p>
                                                    </div>

                                                </div>

                                                <div class="woocommerce-account-fields">

                                                    <p class="form-row form-row-wide create-account woocommerce-validated">
                                                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                                            <input class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" id="createaccount" type="checkbox" name="createaccount" value="1"> <span>Tạo tài khoản mới?</span>
                                                        </label>
                                                    </p>




                                                    <div class="create-account" style="display: none;">
                                                        <p class="form-row validate-required" id="account_password_field" data-priority=""><label for="account_password" class="">Tạo mật khẩu của tài khoản&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="password" class="input-text " name="account_password" id="account_password" placeholder="Mật khẩu" value=""></span></p>								<div class="clear"></div>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="clear">
                                                <div class="woocommerce-shipping-fields">

                                                    <h3 id="ship-to-different-address">
                                                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                                            <input id="ship-to-different-address-checkbox" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" type="checkbox" name="ship_to_different_address" value="1"> <span>Giao hàng tới địa chỉ khác?</span>
                                                        </label>
                                                    </h3>

                                                    <div class="shipping_address" style="display: none;">


                                                        <div class="woocommerce-shipping-fields__field-wrapper">
                                                            <p class="form-row form-row-first validate-required" id="shipping_last_name_field" data-priority="10"><label for="shipping_last_name" class="">Họ tên người nhận&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="shipping_last_name" id="shipping_last_name" placeholder="Họ tên người nhận" value=""></span></p><p class="form-row form-row-last" id="shipping_phone_field" data-priority="20"><label for="shipping_phone" class="">Số điện thoại của người nhận&nbsp;<span class="optional">(tuỳ chọn)</span></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="shipping_phone" id="shipping_phone" placeholder="Số điện thoại của người nhận" value=""></span></p><p class="form-row form-row-first address-field update_totals_on_change validate-required" id="shipping_state_field" data-priority="30">
                                                                <label for="shipping_state" class="">Tỉnh/Thành phố&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper">
                                                                    <select name="shipping_state" id="shipping_state" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn tỉnh/thành phố" tabindex="-1" aria-hidden="true">
                                                                        <option value="">Chọn tỉnh/thành phố</option>
                                                                        <option value="HANOI">Hà Nội</option>
                                                                        <option value="HOCHIMINH" selected="selected">Hồ Chí Minh</option>
                                                                        <option value="ANGIANG">An Giang</option>
                                                                        <option value="BACGIANG">Bắc Giang</option>
                                                                        <option value="BACKAN">Bắc Kạn</option>
                                                                        <option value="BACLIEU">Bạc Liêu</option>
                                                                        <option value="BACNINH">Bắc Ninh</option>
                                                                        <option value="BARIAVUNGTAU">Bà Rịa - Vũng Tàu</option>
                                                                        <option value="BENTRE">Bến Tre</option>
                                                                        <option value="BINHDINH">Bình Định</option>
                                                                        <option value="BINHDUONG">Bình Dương</option>
                                                                        <option value="BINHPHUOC">Bình Phước</option>
                                                                        <option value="BINHTHUAN">Bình Thuận</option>
                                                                        <option value="CAMAU">Cà Mau</option>
                                                                        <option value="CANTHO">Cần Thơ</option>
                                                                        <option value="CAOBANG">Cao Bằng</option>
                                                                        <option value="DAKLAK">Đắk Lắk</option>
                                                                        <option value="DAKNONG">Đắk Nông</option>
                                                                        <option value="DANANG">Đà Nẵng</option>
                                                                        <option value="DIENBIEN">Điện Biên</option>
                                                                        <option value="DONGNAI">Đồng Nai</option>
                                                                        <option value="DONGTHAP">Đồng Tháp</option>
                                                                        <option value="GIALAI">Gia Lai</option>
                                                                        <option value="HAGIANG">Hà Giang</option>
                                                                        <option value="HAIDUONG">Hải Dương</option>
                                                                        <option value="HAIPHONG">Hải Phòng</option>
                                                                        <option value="HANAM">Hà Nam</option>
                                                                        <option value="HATINH">Hà Tĩnh</option>
                                                                        <option value="HAUGIANG">Hậu Giang</option>
                                                                        <option value="HOABINH">Hòa Bình</option>
                                                                        <option value="HUNGYEN">Hưng Yên</option>
                                                                        <option value="KHANHHOA">Khánh Hòa</option>
                                                                        <option value="KIENGIANG">Kiên Giang</option>
                                                                        <option value="KONTUM">Kon Tum</option>
                                                                        <option value="LAICHAU">Lai Châu</option>
                                                                        <option value="LAMDONG">Lâm Đồng</option>
                                                                        <option value="LANGSON">Lạng Sơn</option>
                                                                        <option value="LAOCAI">Lào Cai</option>
                                                                        <option value="LONGAN">Long An</option>
                                                                        <option value="NAMDINH">Nam Định</option>
                                                                        <option value="NGHEAN">Nghệ An</option>
                                                                        <option value="NINHBINH">Ninh Bình</option>
                                                                        <option value="NINHTHUAN">Ninh Thuận</option>
                                                                        <option value="PHUTHO">Phú Thọ</option>
                                                                        <option value="PHUYEN">Phú Yên</option>
                                                                        <option value="QUANGBINH">Quảng Bình</option>
                                                                        <option value="QUANGNAM">Quảng Nam</option>
                                                                        <option value="QUANGNGAI">Quảng Ngãi</option>
                                                                        <option value="QUANGNINH">Quảng Ninh</option>
                                                                        <option value="QUANGTRI">Quảng Trị</option>
                                                                        <option value="SOCTRANG">Sóc Trăng</option>
                                                                        <option value="SONLA">Sơn La</option>
                                                                        <option value="TAYNINH">Tây Ninh</option>
                                                                        <option value="THAIBINH">Thái Bình</option>
                                                                        <option value="THAINGUYEN">Thái Nguyên</option>
                                                                        <option value="THANHHOA">Thanh Hóa</option>
                                                                        <option value="THUATHIENHUE">Thừa Thiên Huế</option>
                                                                        <option value="TIENGIANG">Tiền Giang</option>
                                                                        <option value="TRAVINH">Trà Vinh</option>
                                                                        <option value="TUYENQUANG">Tuyên Quang</option>
                                                                        <option value="VINHLONG">Vĩnh Long</option>
                                                                        <option value="VINHPHUC">Vĩnh Phúc</option>
                                                                        <option value="YENBAI">Yên Bái</option>
                                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-shipping_state-container"><span class="select2-selection__rendered" id="select2-shipping_state-container" title="Hồ Chí Minh">Hồ Chí Minh</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                                </span>
                                                            </p><p class="form-row form-row-last address-field update_totals_on_change validate-required validate-required" id="shipping_city_field" data-priority="40">
                                                                <label for="shipping_city" class="">Quận/Huyện <abbr class="required" title="bắt buộc">*</abbr></label><select name="shipping_city" id="shipping_city" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn quận huyện" tabindex="-1" aria-hidden="true">
                                                                    <option value="" selected="selected">Chọn quận huyện</option>
                                                                    <option value="785">Huyện Bình Chánh</option>
                                                                    <option value="787">Huyện Cần Giờ</option>
                                                                    <option value="783">Huyện Củ Chi</option>
                                                                    <option value="784">Huyện Hóc Môn</option>
                                                                    <option value="786">Huyện Nhà Bè</option>
                                                                    <option value="760">Quận 1</option>
                                                                    <option value="769">Quận 2</option>
                                                                    <option value="770">Quận 3</option>
                                                                    <option value="773">Quận 4</option>
                                                                    <option value="774">Quận 5</option>
                                                                    <option value="775">Quận 6</option>
                                                                    <option value="778">Quận 7</option>
                                                                    <option value="776">Quận 8</option>
                                                                    <option value="763">Quận 9</option>
                                                                    <option value="771">Quận 10</option>
                                                                    <option value="772">Quận 11</option>
                                                                    <option value="761">Quận 12</option>
                                                                    <option value="765">Quận Bình Thạnh</option>
                                                                    <option value="777">Quận Bình Tân</option>
                                                                    <option value="764">Quận Gò Vấp</option>
                                                                    <option value="768">Quận Phú Nhuận</option>
                                                                    <option value="762">Quận Thủ Đức</option>
                                                                    <option value="766">Quận Tân Bình</option>
                                                                    <option value="767">Quận Tân Phú</option>
                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-shipping_city-container"><span class="select2-selection__rendered" id="select2-shipping_city-container"><span class="select2-selection__placeholder">Chọn quận huyện</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                            </p><p class="form-row form-row-first address-field update_totals_on_change validate-required validate-required" id="shipping_address_2_field" data-priority="50">
                                                                <label for="shipping_address_2" class="">Xã/Phường <abbr class="required" title="bắt buộc">*</abbr></label><select name="shipping_address_2" id="shipping_address_2" class="select  select2-hidden-accessible" data-allow_clear="true" data-placeholder="Chọn xã/phường" tabindex="-1" aria-hidden="true">
                                                                    <option value="" selected="selected">Chọn xã/phường</option>
                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-shipping_address_2-container"><span class="select2-selection__rendered" id="select2-shipping_address_2-container"><span class="select2-selection__placeholder">Chọn xã/phường</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                            </p><p class="form-row form-row-last validate-required" id="shipping_address_1_field" data-priority="60"><label for="shipping_address_1" class="">Địa chỉ&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="shipping_address_1" id="shipping_address_1" placeholder="Ví dụ: Số 20, ngõ 90" value="" autocomplete="address-line1"></span></p>
                                                        </div>


                                                    </div>

                                                </div>
                                                <div class="woocommerce-additional-fields">



                                                    <div class="woocommerce-additional-fields__field-wrapper">
                                                        <p class="form-row notes" id="order_comments_field" data-priority=""><label for="order_comments" class="">Ghi chú đơn hàng&nbsp;<span class="optional">(tuỳ chọn)</span></label><span class="woocommerce-input-wrapper"><textarea name="order_comments" class="input-text " id="order_comments" placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn." rows="2" cols="5"></textarea></span></p>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>



                                    </div><!-- large-7 -->

                                    <div class="large-5 col">

                                        <div class="col-inner has-border">
                                            <div class="checkout-sidebar sm-touch-scroll">
                                                <h3 id="order_review_heading">Đơn hàng của bạn</h3>


                                                <div id="order_review" class="woocommerce-checkout-review-order">
                                                    <table class="shop_table woocommerce-checkout-review-order-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-name">Sản phẩm</th>
                                                                <th class="product-total">Tổng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="cart_item">
                                                                <td class="product-name">
                                                                    Gatsby Moving Rubber  - Gatsby xám&nbsp;						 <strong class="product-quantity">× 1</strong>
                                                                </td>
                                                                <td class="product-total">
                                                                    <span class="woocommerce-Price-amount amount">240,000&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>

                                                            <tr class="cart-subtotal">
                                                                <th>Tạm tính</th>
                                                                <td><span class="woocommerce-Price-amount amount">240,000&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span></td>
                                                            </tr>




                                                            <tr class="woocommerce-shipping-totals shipping ">
                                                                <td class="shipping__inner" colspan="2">
                                                                    <table class="shipping__table ">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>Giao hàng</th>
                                                                                <td data-title="Giao hàng">
                                                                                    <ul id="shipping_method" class="shipping__list woocommerce-shipping-methods">
                                                                                        <li class="shipping__list_item">
                                                                                            <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0_flat_rate22" value="flat_rate:22" class="shipping_method"><label class="shipping__list_label" for="shipping_method_0_flat_rate22">Giao Nhanh 2h (Áp dụng cho các quận Nội thành): <span class="woocommerce-Price-amount amount">25,000&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span></label>
                                                                                        </li>
                                                                                    </ul>


                                                                                </td>
                                                                            </tr>
                                                                        </tbody>

                                                                    </table>
                                                                </td>
                                                            </tr>






                                                            <tr class="order-total">
                                                                <th>Tổng</th>
                                                                <td><strong><span class="woocommerce-Price-amount amount">265,000&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span></strong> </td>
                                                            </tr>


                                                        </tfoot>
                                                    </table>

                                                    <div id="payment" class="woocommerce-checkout-payment">
                                                        <ul class="wc_payment_methods payment_methods methods">
                                                            <li class="wc_payment_method payment_method_cod">
                                                                <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod" checked="checked" data-order_button_text="">

                                                                <label for="payment_method_cod">
                                                                    Trả tiền mặt khi nhận hàng COD
                                                                </label>
                                                                <div class="payment_box payment_method_cod">
                                                                    <p>
                                                                        Giao hàng thanh toán tận nơi trên Toàn Quốc.<br>
                                                                        – Tỉnh thành trên Toàn Quốc: Thời gian vận chuyển từ 2-4 ngày.<br>
                                                                        – Hồ Chí Minh, Hà Nội, Đà Nẵng: Thời gian vận chuyển từ 6h – 24h.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="wc_payment_method payment_method_bacs">
                                                                <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="bacs" data-order_button_text="">

                                                                <label for="payment_method_bacs">
                                                                    Chuyển khoản ngân hàng / Ví MoMo
                                                                </label>
                                                                <div class="payment_box payment_method_bacs" style="display:none;">
                                                                    <p>Thực hiện thanh toán vào ngay tài khoản ngân hàng của chúng tôi. Với nội dung “ID đơn hàng”+”số điện thoại”.</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="form-row place-order">
                                                            <noscript>
                                                                Trình duyệt của bạn không hỗ trợ JavaScript, hoặc nó bị vô hiệu hóa, hãy đảm bảo bạn nhấp vào <em>Cập nhật giỏ hàng</em> trước khi bạn thanh toán. Bạn có thể phải trả nhiều hơn số tiền đã nói ở trên, nếu bạn không làm như vậy.			<br /><button type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Cập nhật tổng">Cập nhật tổng</button>
                                                            </noscript>

                                                            <div class="woocommerce-terms-and-conditions-wrapper">

                                                            </div>


                                                            <button type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Đặt hàng" data-value="Đặt hàng">Đặt hàng</button>

                                                            <input type="hidden" id="woocommerce-process-checkout-nonce" name="woocommerce-process-checkout-nonce" value="2c9143dbed"><input type="hidden" name="_wp_http_referer" value="/?wc-ajax=update_order_review">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="woocommerce-privacy-policy-text"></div>
                                            </div>
                                        </div>

                                    </div><!-- large-5 -->

                                </div><!-- row -->
                            </form>

                        </div>


                    </div><!-- .col-inner -->
                </div><!-- .large-12 -->
            </div><!-- .row -->
        </div>


    </main>

